.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.main {
  text-align: center;
}

.title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.quiz {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.restartButton {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.restartButton:hover {
  background-color: #005bb5;
}


.options {
  list-style: none;
  padding: 0;
  margin: 0;
}

.option {
  padding: 10px 20px;
  margin: 5px 0;
  background-color: #ce7777;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.option:hover {
  background-color: #ddd;
}

.selected {
  background-color: #ccc;
}

.nextButton {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nextButton:disabled {
  background-color: #bbb;
}

.result {
  font-size: 1.2rem;
  margin-top: 20px;
}

.footer {
  margin-top: 40px;
}
